LevelConfig(
    escalators: [
        EscalatorConfig(
            x: 160.,
            y: 224.,
            width: 128.,
            height: 128.,
            num_steps: 4,
            speed: 32.,
            direction: COUNTERCLOCKWISE,
            color_flag: BLUE
        ),
        EscalatorConfig(
            x: 336.,
            y: 208.,
            width: 96.,
            height: 96.,
            num_steps: 3,
            speed: 32.,
            direction: COUNTERCLOCKWISE,
            color_flag: YELLOW
        ),
    ],
    things: [
        ThingConfig(
            x: 144.,
            y: 272.,
            width: 32.,
            height: 32.,
        ),
        ThingConfig(
            x: 336.,
            y: 240.,
            width: 32.,
            height: 32.,
        ),
    ],
    platforms: [
        PlatformConfig(
            x: 80.,
            y: 80.,
            width: 32.,
            height: 32.,
        ),
        PlatformConfig(
            x: 400.,
            y: 80.,
            width: 32.,
            height: 32.,
        ),
    ],
)