LevelConfig(
    escalators: [
        EscalatorConfig(
            x: 112.,
            y: 80.,
            width: 96.,
            height: 96.,
            num_steps: 3,
            speed: 32.,
            direction: COUNTERCLOCKWISE,
            color_flag: YELLOW
        ),
        EscalatorConfig(
            x: 208.,
            y: 144.,
            width: 96.,
            height: 96.,
            num_steps: 3,
            speed: 32.,
            direction: CLOCKWISE,
            color_flag: YELLOW
        ),
        EscalatorConfig(
            x: 304.,
            y: 198.,
            width: 96.,
            height: 96.,
            num_steps: 3,
            speed: 32.,
            direction: COUNTERCLOCKWISE,
            color_flag: YELLOW
        ),
        EscalatorConfig(
            x: 400.,
            y: 256.,
            width: 96.,
            height: 96.,
            num_steps: 3,
            speed: 32.,
            direction: COUNTERCLOCKWISE,
            color_flag: YELLOW
        ),

    ],
    things: [
        ThingConfig(
            x: 432.,
            y: 256.,
            width: 32.,
            height: 32.,
            color_flag: YELLOW
        ),
    ],
    platforms: [
        PlatformConfig(
            x: 48.,
            y: 48.,
            width: 32.,
            height: 32.,
            color_flag: YELLOW
        ),
    ],
)