LevelConfig(
    escalators: [
        EscalatorConfig(
            x: 7,
            y: 6,
            width: 6,
            height: 6,
            num_steps: 3,
            speed: 1,
            direction: COUNTERCLOCKWISE,
            color_flag: YELLOW
        ),
        EscalatorConfig(
            x: 13,
            y: 10,
            width: 6,
            height: 6,
            num_steps: 3,
            speed: 1,
            direction: CLOCKWISE,
            color_flag: YELLOW
        ),
        EscalatorConfig(
            x: 19,
            y: 12,
            width: 6,
            height: 6,
            num_steps: 3,
            speed: 1,
            direction: COUNTERCLOCKWISE,
            color_flag: YELLOW
        ),
        EscalatorConfig(
            x: 25,
            y: 16,
            width: 6,
            height: 6,
            num_steps: 3,
            speed: 1,
            direction: COUNTERCLOCKWISE,
            color_flag: YELLOW
        ),

    ],
    things: [
        ThingConfig(
            x: 27,
            y: 16,
            width: 2,
            height: 2,
            color_flag: YELLOW
        ),
    ],
    platforms: [
        PlatformConfig(
            x: 3,
            y: 3,
            width: 2,
            height: 2,
            color_flag: YELLOW
        ),
    ],
)