LevelConfig(
    escalators: [
        EscalatorConfig(
            x: 512.,
            y: 512.,
            width: 1024.,
            height: 1024.,
            num_steps: 32,
            speed: 64.,
            direction: CLOCKWISE,
            color_flag: YELLOW
        ),
    ],
    things: [
    ],
    platforms: [
    ],
)