LevelConfig(
    escalators: [
        EscalatorConfig(
            x: 256.,
            y: 256.,
            width:96.,
            height: 96.,
            num_steps: 3,
            speed: 32.,
            direction: CLOCKWISE
        ),
    ],
    things: [
        ThingConfig(
            x: 256.,
            y: 320.,
            width: 32.,
            height: 32.,
        ),
    ],
    platforms: [
        PlatformConfig(
            x: 320.,
            y: 128.,
            width: 32.,
            height: 32.,
        ),
    ],
)