LevelConfig(
    escalators: [
        EscalatorConfig(
            x: 12,
            y: 8,
            width: 16,
            height: 16,
            num_steps: 4,
            speed: 1,
            direction: COUNTERCLOCKWISE,
            color_flag: BLUE
        ),
    ],
    things: [
        ThingConfig(
            x: 18,
            y: 6,
            width: 4,
            height: 4,
            color_flag: YELLOW,
        ),
    ],
    platforms: [
        PlatformConfig(
            x: 2,
            y: 2,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),
        PlatformConfig(
            x: 22,
            y: 12,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),
    ],
)