LevelConfig(
    escalators: [
    ],
    things: [
        ThingConfig(
            x: 2,
            y: 8,
            width: 4,
            height: 4,
            color_flag: YELLOW,
        ),
        ThingConfig(
            x: 2,
            y: 18,
            width: 4,
            height: 4,
            color_flag: YELLOW,
        ),
    ],
    platforms: [
        PlatformConfig(
            x: 2,
            y: 2,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),
    ],
)