LevelConfig(
    escalators: [
        EscalatorConfig(
            x: 22,
            y: 22,
            width: 24,
            height: 24,
            num_steps: 6,
            speed: 1,
            direction: CLOCKWISE,
            color_flag: BLUE
        ),
        EscalatorConfig(
            x: 10,
            y: 10,
            width: 8,
            height: 8,
            num_steps: 2,
            speed: 1,
            direction: CLOCKWISE,
            color_flag: YELLOW
        ),
    ],
    things: [
        ThingConfig(
            x: 20,
            y: 32,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),
    ],
    platforms: [
        PlatformConfig(
            x: 12,
            y: 4,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),        
        PlatformConfig(
            x: 40,
            y: 4,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),
    ],
)