LevelConfig(
    escalators: [
        EscalatorConfig(
            x: 12,
            y: 12,
            width: 12,
            height: 12,
            num_steps: 3,
            speed: 1,
            direction: COUNTERCLOCKWISE,
            color_flag: BLUE
        ),
    ],
    things: [
        ThingConfig(
            x: 16,
            y: 12,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),
        ThingConfig(
            x: 16,
            y: 16,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),
        ThingConfig(
            x: 16,
            y: 20,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),
    ],
    platforms: [
        PlatformConfig(
            x: 12,
            y: 4,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),
    ],
)