LevelConfig(
    escalators: [
        EscalatorConfig(
            x: 32,
            y: 20,
            width: 28,
            height: 28,
            num_steps: 7,
            speed: 1,
            direction: CLOCKWISE,
            color_flag: YELLOW
        ),
        EscalatorConfig(
            x: 14,
            y: 48,
            width: 8,
            height: 8,
            num_steps: 2,
            speed: 1,
            direction: CLOCKWISE,
            color_flag: YELLOW
        ),
        EscalatorConfig(
            x: 18,
            y: 52,
            width: 8,
            height: 8,
            num_steps: 2,
            speed: 1,
            direction: CLOCKWISE,
            color_flag: BLUE
        ),

        EscalatorConfig(
            x: 22,
            y: 38,
            width: 8,
            height: 8,
            num_steps: 2,
            speed: 1,
            direction: CLOCKWISE,
            color_flag: BLUE
        ),
    ],
    things: [
        ThingConfig(
            x: 20,
            y: 54,
            width: 4,
            height: 4,
            color_flag: BLUE
        ),
    ],
    platforms: [
        PlatformConfig(
            x: 12,
            y: 42,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),    
        PlatformConfig(
            x: 30,
            y: 4,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),     
        PlatformConfig(
            x: 40,
            y: 4,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),
        PlatformConfig(
            x: 56,
            y: 4,
            width: 4,
            height: 4,
            color_flag: YELLOW
        ),   
        PlatformConfig(
            x: 64,
            y: 4,
            width: 4,
            height: 4,
            color_flag: BLUE
        ),   
    ],
)